modules = ["python-3.10:v18-20230807-322e88b"]
run = "python algorithm/greedy/큰_수의_법칙/3_1.py"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "3_1.py"]
deploymentTarget = "cloudrun"
